<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.xiaojw.customwidget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/avater3"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="android.max_aspect"
                android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
        <activity android:name=".activity.BmpActivity"></activity>
        <activity android:name=".activity.CircleRecyclerActivity" />
        <activity android:name=".activity.LayoutManagerActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.NonRectImgActivity" />
        <activity
                android:name=".activity.HeartFloatActivity"
                android:hardwareAccelerated="true" />
        <activity android:name=".activity.TimeCActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />
        </activity>
    </application>

</manifest>